* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
body {
    background-color:#f0f0f0;
}

.content-wrapper {
    margin: 80px;
    display: grid;
    padding: 10px;
    text-align: center;
}

.content-wrapper h1 {
    font-size: 75px;
    padding-bottom: 18px;
}

.content-wrapper h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}
  
.product {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

.product:hover {
    transform: scale(1.05);
}
  
.card-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content {
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 1px solid grey;
}

.card-title .card-btn {
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.card-title .card-header {
    font-size: 25px;
}

.card-text {
    margin-top: 5px;
    font-size: 18px;
    /* padding: 5px; */
    font-weight: bold;
}
  
  
/* .card-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    font-size: 28px;
    padding: 16px;
    margin: 5px;
    color: red;
   
} */
  
/* .card-content {
    padding: 16px;
    margin-bottom: 8px;
} */
  
  
.card-content h3 {
    font-size: 28px;
}
  
.card-content p {
    font-size: 15px;
    color: #666;
    line-height: 1.3;
}
       
#btnScrollToTop {
    position: fixed;
    font-size: 2.1em;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    color: rgb(177, 2, 2);
    cursor: pointer;
}

#btnScrollToTop:hover {
    background: rgb(177, 2, 2);
    color: white;
    transition: 0.5s;
}
