* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 
    Arial, sans-serif;
}
  
body {
    background-color: #f0d8e8;
}

.content-wrapper {
    margin: 80px;
    display: grid;
    padding: 10px;
    text-align: center;
}

.content-wrapper h1 {
    font-size: 75px;
    color: rgb(66, 47, 141);
    padding-bottom: 18px;
}

.content-wrapper h3 {
    font-size: 25px;
    color: rgb(66, 47, 141);
    padding-bottom: 15px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}
  
.product {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 2px 4px rgba(213, 28, 28, 0.2);
    transition: all 0.3s;
}

.product:hover {
    transform: scale(1.05);
}
  
.card-img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content {
    padding:10px;
    margin-bottom:8px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 1px solid grey;
}

.card-title .card-btn {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-title .card-btn:hover {
    transition: 0.3s;
    color: rgb(246, 11, 11);

}


.card-title .card-header {
    font-size: 28px;
}

.card-text {
    margin-top: 5px;
    font-size: 18px;
    color: rgb(66, 47, 141);
    padding: 5px;
    font-weight: bold;
}
       
#btnScrollToTop {
    position: fixed;
    font-size: 2.1em;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    color: rgb(75, 51, 172);
    cursor: pointer;
}

#btnScrollToTop:hover {
    background: rgb(75, 51, 172);
    color: white;
    transition: 0.5s;
}

footer {
    border: 1px solid black;
    background-color: rgb(66, 47, 141);
    color: #f0f0f0;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 60px;
    display: flex;
    justify-content: center;
}
